[submodule "urg_node"]
	path = urg_node
	url = https://github.com/ros-drivers/urg_node
[submodule "transport_drivers"]
	path = transport_drivers
	url = https://github.com/ros-drivers/transport_drivers
	branch = humble
[submodule "vesc"]
	path = vesc
	url = https://github.com/sbgisen/vesc
	branch = humble-devel
